Repository ArkadiuszUrbanek/FilmwebClone, pull requests merged in 2024-01, with the labels that each got.

#5 Merge request of csrf-token branch to master
  FilmwebCloneBackend/app.py
  FilmwebCloneBackend/blueprints/__init__.py
  FilmwebCloneBackend/blueprints/auth/routes.py
Labels: backend

#4 2 create user repository
  FilmwebCloneBackend/.editorconfig
  FilmwebCloneBackend/models/blueprints/artist.py
  FilmwebCloneBackend/models/blueprints/entity.py
  FilmwebCloneBackend/models/message.py
  FilmwebCloneBackend/models/user.py
  FilmwebCloneBackend/repositories/__init__.py
  FilmwebCloneBackend/repositories/user_repository.py
Labels: backend, database

#7 6 integrating relations n user repo
  FilmwebCloneBackend/models/actor.py
  FilmwebCloneBackend/models/blueprints/artist.py
  FilmwebCloneBackend/models/blueprints/entity.py
  FilmwebCloneBackend/models/director.py
  FilmwebCloneBackend/models/forum.py
  FilmwebCloneBackend/models/genre.py
  FilmwebCloneBackend/models/message.py
  FilmwebCloneBackend/models/movie.py
  FilmwebCloneBackend/models/review.py
  FilmwebCloneBackend/models/user.py
  FilmwebCloneBackend/repositories/__init__.py
Labels: backend, database

#8 Merge request of csrf-token branch into master
  FilmwebCloneBackend/app.py
  FilmwebCloneBackend/blueprints/__init__.py
  FilmwebCloneBackend/blueprints/auth/__init__.py
  FilmwebCloneBackend/blueprints/auth/routes.py
  FilmwebCloneBackend/blueprints/decorators/__init__.py
  FilmwebCloneBackend/blueprints/decorators/csrf_token_required.py
  FilmwebCloneBackend/blueprints/decorators/roles_required.py
  FilmwebCloneBackend/blueprints/errors/__init__.py
  FilmwebCloneBackend/blueprints/errors/routes.py
  FilmwebCloneBackend/blueprints/interceptors/__init__.py
  FilmwebCloneBackend/blueprints/interceptors/routes.py
  FilmwebCloneBackend/enums/user_role.py
  FilmwebCloneBackend/models/__init__.py
  FilmwebCloneBackend/models/actor.py
  FilmwebCloneBackend/models/anonymous_user.py
  FilmwebCloneBackend/models/director.py
  FilmwebCloneBackend/models/forum.py
  FilmwebCloneBackend/models/genre.py
  FilmwebCloneBackend/models/message.py
  FilmwebCloneBackend/models/movie.py
  FilmwebCloneBackend/models/review.py
  FilmwebCloneBackend/models/user.py
  FilmwebCloneFrontend/package-lock.json
  FilmwebCloneFrontend/package.json
  FilmwebCloneFrontend/src/main.ts
Labels: backend, decorators, interceptors, Flask blueprints, frontend

#12 11 creating message & forum repositories and services
  FilmwebCloneBackend/blueprints/__init__.py
  FilmwebCloneBackend/blueprints/mappers/forum_mappers.py
  FilmwebCloneBackend/blueprints/mappers/message_mappers.py
  FilmwebCloneBackend/blueprints/mappers/user_mappers.py
  FilmwebCloneBackend/dtos/__init__.py
  FilmwebCloneBackend/dtos/forum/create_forum_dto.py
  FilmwebCloneBackend/dtos/forum/forum_dto.py
  FilmwebCloneBackend/dtos/message/create_message_dto.py
  FilmwebCloneBackend/dtos/message/message_dto.py
  FilmwebCloneBackend/dtos/user/user_dto.py
  FilmwebCloneBackend/models/forum.py
  FilmwebCloneBackend/models/message.py
  FilmwebCloneBackend/repositories/__init__.py
  FilmwebCloneBackend/repositories/forum_repository.py
  FilmwebCloneBackend/repositories/message_repository.py
  FilmwebCloneBackend/repositories/user_repository.py
  FilmwebCloneBackend/services/__init__.py
  FilmwebCloneBackend/services/forum_service.py
  FilmwebCloneBackend/services/message_service.py
Labels: backend, services

#14 13 creating movie repository and service
  FilmwebCloneBackend/blueprints/__init__.py
  FilmwebCloneBackend/blueprints/mappers/movie_mappers.py
  FilmwebCloneBackend/blueprints/mappers/review_mappers.py
  FilmwebCloneBackend/dtos/__init__.py
  FilmwebCloneBackend/dtos/movie/create_movie_dto.py
  FilmwebCloneBackend/dtos/movie/movie_dto.py
  FilmwebCloneBackend/dtos/review/create_review_dto.py
  FilmwebCloneBackend/dtos/review/review_dto.py
  FilmwebCloneBackend/models/actor.py
  FilmwebCloneBackend/models/director.py
  FilmwebCloneBackend/models/forum.py
  FilmwebCloneBackend/models/genre.py
  FilmwebCloneBackend/models/movie.py
  FilmwebCloneBackend/models/review.py
  FilmwebCloneBackend/repositories/__init__.py
  FilmwebCloneBackend/repositories/actor_repository.py
  FilmwebCloneBackend/repositories/director_repository.py
  FilmwebCloneBackend/repositories/genre_repository.py
  FilmwebCloneBackend/repositories/movie_repository.py
  FilmwebCloneBackend/repositories/review_repository.py
  FilmwebCloneBackend/services/__init__.py
  FilmwebCloneBackend/services/movie_service.py
  FilmwebCloneBackend/services/review_service.py
Labels: backend, services

#16 15 creating remaining services
  FilmwebCloneBackend/blueprints/__init__.py
  FilmwebCloneBackend/blueprints/mappers/actor_mappers.py
  FilmwebCloneBackend/blueprints/mappers/director_mappers.py
  FilmwebCloneBackend/blueprints/mappers/genre_mappers.py
  FilmwebCloneBackend/dtos/__init__.py
  FilmwebCloneBackend/dtos/artist/actor/actor_dto.py
  FilmwebCloneBackend/dtos/artist/actor/create_actor_dto.py
  FilmwebCloneBackend/dtos/artist/artist_dto.py
  FilmwebCloneBackend/dtos/artist/create_artist_dto.py
  FilmwebCloneBackend/dtos/artist/director/create_director_dto.py
  FilmwebCloneBackend/dtos/artist/director/director_dto.py
  FilmwebCloneBackend/dtos/genre/create_genre_dto.py
  FilmwebCloneBackend/dtos/genre/genre_dto.py
  FilmwebCloneBackend/repositories/genre_repository.py
  FilmwebCloneBackend/services/__init__.py
  FilmwebCloneBackend/services/actor_service.py
  FilmwebCloneBackend/services/director_service.py
  FilmwebCloneBackend/services/genre_service.py
Labels: backend, services

#18 17 create endpoints
  FilmwebCloneBackend/app.py
  FilmwebCloneBackend/blueprints/mappers/actor_mappers.py
  FilmwebCloneBackend/blueprints/mappers/director_mappers.py
  FilmwebCloneBackend/blueprints/mappers/forum_mappers.py
  FilmwebCloneBackend/blueprints/mappers/genre_mappers.py
  FilmwebCloneBackend/blueprints/mappers/message_mappers.py
  FilmwebCloneBackend/blueprints/mappers/movie_mappers.py
  FilmwebCloneBackend/blueprints/mappers/review_mappers.py
  FilmwebCloneBackend/blueprints/mappers/user_mappers.py
  FilmwebCloneBackend/controllers/__init__.py
  FilmwebCloneBackend/controllers/actor_controllers.py
  FilmwebCloneBackend/controllers/director_controllers.py
  FilmwebCloneBackend/controllers/forum_controllers.py
  FilmwebCloneBackend/controllers/genre_controllers.py
  FilmwebCloneBackend/controllers/message_controllers.py
  FilmwebCloneBackend/controllers/movie_controllers.py
  FilmwebCloneBackend/controllers/review_controllers.py
  FilmwebCloneBackend/controllers/user_controllers.py
  FilmwebCloneBackend/dtos/artist/artist_dto.py
  FilmwebCloneBackend/dtos/forum/forum_dto.py
  FilmwebCloneBackend/dtos/genre/genre_dto.py
  FilmwebCloneBackend/dtos/message/create_message_dto.py
  FilmwebCloneBackend/dtos/message/message_dto.py
  FilmwebCloneBackend/dtos/movie/movie_dto.py
  FilmwebCloneBackend/dtos/review/review_dto.py
  FilmwebCloneBackend/dtos/user/create_user_dto.py
  FilmwebCloneBackend/dtos/user/user_dto.py
  FilmwebCloneBackend/models/user.py
  FilmwebCloneBackend/services/actor_service.py
  FilmwebCloneBackend/services/director_service.py
  FilmwebCloneBackend/services/forum_service.py
  FilmwebCloneBackend/services/genre_service.py
  FilmwebCloneBackend/services/message_service.py
  FilmwebCloneBackend/services/movie_service.py
  FilmwebCloneBackend/services/review_service.py
  FilmwebCloneBackend/services/user_service.py
Labels: backend, endpoints
